{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button type="submit" id="сreate-article-btn">Отправить</button></p>
</form>
{% block scripts %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    const btn = document.getElementById("create-article-btn");

    if (btn) {
        btn.addEventListener("click", function() {
            if (window.top100Counter && typeof top100Counter.trackEvent === "function") {
                top100Counter.trackEvent("create_article", { action: "create_article__button" });
            }
        });
    }
});
</script>
{% endblock %}
{% endblock %}
