{% extends 'base.html' %}

{% block content %}
<h1>Авторизация</h1>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button id="login-btn" type="submit">Войти</button></p>

    <p><a href="{% url 'users:password_reset' %}">Забыли пароль?</a></p>
</form>
{% block scripts %}
<script>
document.getElementById('buy-btn').addEventListener('click', function(){
   var _tmr = window._tmr || (window._tmr = []);
  _tmr.push({ id: "3710552", type: "reachGoal", goal: "click_login", value: 1 });
});

document.addEventListener("DOMContentLoaded", function() {
    const btn = document.getElementById("login-btn");

    if (btn) {
        btn.addEventListener("click", function() {
            if (window.top100Counter && typeof top100Counter.trackEvent === "function") {
                top100Counter.trackEvent("login_click", { action: "user_login_button" });
            }
        });
    }
});
</script>
{% endblock %}
</script>

{% endblock %}
